@import '../../../styles/main';

:host {
  @include var(main-color, green);
  display: block;
}

:host([hidden]) {
  display: none;
}

h1 {
  color: var(--mainx-color, blue);
}

p {
  color: $color-dodgerblue-4d;
}
